<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="root" level="DEBUG" />
    <logger name="org.eclipse.jetty" level="WARN" />
    <logger name="com.webcerebrium.etherdelta.examples" level="DEBUG" />
    <logger name="com.webcerebrium.etherdelta.api" level="DEBUG" />
    <logger name="com.webcerebrium.etherdelta.api.EtherdeltaSocketAdapter" level="DEBUG" />
    <logger name="com.webcerebrium.etherdelta.datatype" level="WARN" />
    <logger name="com.webcerebrium.etherdelta.datatype.EtherdeltaOrderBook" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>